<section class="about">
  <div class="container">
    <div class="about-content">
      <p class="about-text">
        I am a front-end developer based in Sydney looking for exciting
        opportunities. Has Mechanical Engineering background. Likes to focus on
        accessibility when developing.
      </p>
      <a href="#" class="about-link">MORE ABOUT ME</a>
    </div>
    <div class="about-image-wrapper">
      <img
        src="/img/hero-img-taras_makhanko.avif"
        class="about-img"
        alt="image about me"
        width=""
        height=""
      />
    </div>
  </div>
</section>
