<section class="hero">
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">
        <span>HI, I AM</span>
        <span>TARAS MAKHANKO.</span>
      </h1>

      <p class="hero-text">
        A Sydney based front-end developer passionate about building accessible
        and user friendly websites.
      </p>

      <div class="hero-links">
        <a class="contact-link" href="#contacts">
          <span class="contact-link-text">Contact me</span>

          <span class="contact-icon">
            <svg class="contact-svg" width="20" height="20" aria-hidden="true">
              <use href="../img/sprite.svg#icon-arrow"></use>
            </svg>
          </span>
        </a>

        <a class="social-link" href="#" aria-label="LinkedIn">
          <svg class="social-icon" width="20" height="20" aria-hidden="true">
            <use href="../img/sprite.svg#icon-linkedin"></use>
          </svg>
        </a>

        <a class="social-link" href="#" aria-label="GitHub">
          <svg class="social-icon" width="20" height="20" aria-hidden="true">
            <use href="../img/sprite.svg#icon-github"></use>
          </svg>
        </a>
      </div>
    </div>
    <img
      class="hero-image"
      src="../img/img-portfolio-taras-makhanko.avif"
      alt="Taras Makhanko"
    />
  </div>
</section>
