<section class="projects" id="projects">
  <div class="container">
    <div class="project-section">
      <h2 class="title-project-section">Featured Projects</h2>
      <p class="text-project-section">
        Here are some of the selected projects that showcase my passion for
        front-end development.
      </p>

      <ul class="project-list">
        <li class="project-card">
          <div class="project-image-wrapper">
            <img
              src=""
              alt="Adventure Time Landing page"
              class="project-image"
            />
          </div>
          <div class="project-content">
            <h3 class="project-title">
              Promotional landing page for our favorite show
            </h3>
            <p class="project-description">
              Teamed up with a designer to breathe life into a promotional
              webpage for our beloved show, Adventure Time. Delivered a fully
              responsive design with dynamic content capabilities, seamlessly
              integrating a newsletter feature to keep fans updated with the
              latest adventures.
            </p>
            <div class="project-info">
              <h4 class="project-info-title">Project Info</h4>
              <div class="project-info-row">
                <span>Year</span>
                <span>2025</span>
              </div>
              <div class="project-info-row">
                <span>Role</span>
                <span>Front-end Developer</span>
              </div>
            </div>
            <div class="project-links">
              <a href="#"
                >Live demo
                <svg
                  class="project-svg"
                  width="22"
                  height="22"
                  aria-hidden="true"
                >
                  <use href="../img/sprite.svg#icon-arrow"></use></svg
              ></a>
              <a href="#"
                >See on GitHub
                <svg
                  class="project-svg"
                  width="22"
                  height="22"
                  aria-hidden="true"
                >
                  <use href="../img/sprite.svg#icon-github"></use></svg
              ></a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
