.about {
  margin: 64px 0;
}

.about-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 64px;
}
.about-link {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: #d3e97a;

  border-bottom: 2px solid #d3e97a;
  width: 115px;
}
.about-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #c7c7c7;

  padding-bottom: 24px;
}
.about-img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .about .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
  }
  .about-content,
  .about-image-wrapper {
    flex: 1;
  }
  .about-image-wrapper {
    padding: 0;
  }
}
@media screen and (min-width: 1280px) {
}
