:root {
  --font-family: 'Manrope', sans-serif;
  --second-family: 'Bebas Neue', sans-serif;
  --third-family: 'Inter', sans-serif;
  --font3: 'Roboto', sans-serif;

  --background-color: #0a0a0a;
  --color: #fff;
  --font-weight: 400;
  --font-size: 12px;
  --line-height: 160%;
  --transform: transition 250ms ease;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;

  background-color: var(--background-color);
  color: var(--color);

  font-weight: var(--font-weight);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);

  transform: var(--transform);
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}
